html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    font-family: Calibri;
    font-size: 12px;
    background-color: #000000;
    background-size: 100% 100%;
}
canvas.fullScreen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.verticalScrollBarLight::-webkit-scrollbar        {width: 12px; height:12px; }
.verticalScrollBarLight::-webkit-scrollbar-track  {-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);}
.verticalScrollBarLight::-webkit-scrollbar-thumb  {border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.7);}
.verticalScrollBarLight::-webkit-scrollbar-corner {background-color: rgba(0,0,0,0);}

.verticalScrollBarDark::-webkit-scrollbar        {width: 12px; height:12px; }
.verticalScrollBarDark::-webkit-scrollbar-track  {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
.verticalScrollBarDark::-webkit-scrollbar-thumb  {border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);}
.verticalScrollBarDark::-webkit-scrollbar-corner {background-color: rgba(0,0,0,0);}
