div.dropDownContainer {
    text-shadow: none;
    font-weight: normal;
    box-sizing: border-box;
    width: 85px;
    padding: 0;
    margin-bottom: -1px;
}
div.dropDownContainer div, div.dropDownContainer span, div.dropDownContainer b {
    text-shadow: none;
}
div.dropDownContainer div.hover {
    background-color: rgba(255,255,255,0.4);
}
    div.dropDownContainer > div.mainBox {
        background-color: rgba(0, 0, 0, 0.8);
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        overflow: hidden;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        text-align: left;
        padding: 2px 3px;
        cursor: pointer;
        font-size: 12px;
        height: 20px;
        width: 85px;
    }
        div.dropDownContainer > div.mainBox > span {
            float: left;
            overflow: hidden;
            white-space: nowrap;
        }
        div.dropDownContainer > div.mainBox > i {
            float: right;
        }
    div.dropDownContainer > div.optionsContainer {
        background-color: rgba(0, 0, 0, 0.8);
        color: #FFFFFF;
        text-align: left;
        border: 1px solid;
        position: absolute;
        padding: 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin: -3px 0 0 -1px;
        z-index: 2;
        width: 85px;
    }
        div.dropDownContainer > div.optionsContainer > div.option {
            line-height: 18px;
            min-height: 18px;
            cursor: pointer;
            font-size: 14px;
            padding: 2px 7px;

        }

        div.dropDownContainer > div.optionsContainer > div.bar {
            text-align: center;
            padding: 4px 0;
            cursor: pointer;
        }
        div.dropDownContainer > div.optionsContainer > div.bar.up {
            border-top: 1px solid black;
            font-size: 16px;
        }
        div.dropDownContainer > div.optionsContainer > div.bar.down {
            border-bottom: 1px solid black;
            font-size: 16px;
        }