<div class="helpWindowContainer" data-ng-click="helpWindowVisible = !helpWindowVisible" data-ng-mouseMove="preventProp($event)">
    <div class="inner" data-ng-click="preventProp($event)">
    <i class="fa fa-close" data-ng-click="helpWindowVisible = !helpWindowVisible"></i>

    <div class="contents verticalScrollBarDark">
        HexSynth is a tri-tonal synthesizer based on the Harmonic Table layout. Each hex represents a note, like a key
        on a piano. On the right side of the screen you have all your global controls. <br><Br>

        <span>HELP / INFO</span><br>
        Well...you made it here, this is what it does...<br><br>

        <span>IMPORT / EXPORT</span><br>
        Click this to bring up the import/export window, where you can save all your settings into a text file or import them.
        When you click this, the current settings for the applications are loaded into the text box. Click the CLIPBOARD button to copy it to your clipboard
        and save it a text file somewhere. OR you can erase what is in this box and replace it with code you previously saved, then click on the IMPORT button.<br><br>

        <span>VOL</span><br>
        Controls the overall volume of the application.<br><br>

        <span>SIZE</span><br>
        Increases/decrease the size of the hexes, the larger the hex the more of the higher frequency range you lose though<br><br>

        <span>THEMES</span><br>
        Simply select a theme to change the look/feel of the application<br><br>

        <span>VISUALIZATIONS</span><br>
        Simply select a visualization to play behind the hexes, and in front of the background<br><br>

        <span>CONTROLS</span><br>
        There are 2 options, the first simply plays the note when you mouse over, and holds the note when you mouse
        down on it and move the cursor. The second option, works like toggles, click a hex to play its tone, click off the hex grid to stop it.<br><br>

        <span>OSCILLATORS</span><br>
        You can layer up to 3 oscillators and select their wave types, then you can adjust the detune amounts of the 3 oscillators using the knobs below.<br><br>

        <span>SYNTH TEMPLATES</span><br>
        You can set/save up to 6 different customized sounds.<br><br>

        <span>Bit Crusher, Overdrive, Tremolo, WahWah, Phaser, and Delay</span><br>
        These are the effects applied to the oscillators to create the sounds.
    </div>
    </div>

</div>